.top-nav-bar ul li{
    list-style-type: none;
}
.top-nav-bar ul li a{
text-decoration: none;
}
.overlay{
    display: none;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    inset: 0;
}
.drop-box{
    background-color: rgba(218, 151, 69, 0.219);
    position: fixed;
    top: 10%;
    right:20%;

}
.drop-box button{
    background-color:rgba(255, 166, 0, 0.418);
    border: 0px;
    width: 100%;
}