.top-nav-bar ul li{
    list-style-type: none;
}
.top-nav-bar ul li a{
text-decoration: none;
}
.overlay{
    display: none;
    background-color: rgba(0, 0, 0, 0.7);
    position: fixed;
    inset: 0;
}